#! /bin/bash

# ghq + peco でgitリポジトリをインクリメントサーチ
function peco-src () {
    local selected_dir=$(ghq list -p | peco --query "$LBUFFER")
    if [ -n "$selected_dir" ]; then
        BUFFER="cd ${selected_dir}"
        zle accept-line
    fi
    zle clear-screen
}
zle -N peco-src
bindkey '^]' peco-src

# peco で履歴をインクリメントサーチ ctrl-r
function peco-history-selection () {
    BUFFER=`history -n 1 | tac  | awk '!a[$0]++' | peco`
    CURSOR=$#BUFFER
    zle reset-prompt
}
zle -N peco-history-selection
bindkey '^R' peco-history-selection

# Downloadsディレクトリの最新のファイルをカレントディレクトリに移動
function mvdl () {
    local file=$(\ls -t $HOME/Downloads | head -1)
    if [ $# -eq 1 ]; then
        mv $HOME/Downloads/$file `pwd`/$1
    else
        mv $HOME/Downloads/$file `pwd`
    fi
}
